<body class="colorBackground">
    <div class="container">
        <div class="row">

            <div class="col-10">

                <hr>
            </div>
        </div>

        <div class="row">
            {{#with user}}
            <div class="col-2">
                <h4>{{this.username}}</h4>
                <img src="{{this.path}}" alt="" style="width: 100%">
                <h4>About me</h4>
                <p>{{this.aboutMe}}</p>
            </div>
            {{/with}}
            <div class="row  main-post justify-content-center ">
                {{!-- <div class="col-10 profile-post"> --}}
                {{#each post}}
                <div class="col-3 ">
                    <a href="/post/detail/{{this.id}}"><img class="img-fluid img-thumbnail" src="{{this.picPath}}"
                            alt=""></a>
                </div>
                {{/each}}
            </div>

        </div>
        <div class="row">

            <figure id="map"></figure>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="/javascripts/script.js"></script>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU&callback=initMap"></script>
        </div>
    </div>
</body>