<div class="container">

<div class="row justify-content-center detail-box">
    <div class="col-12">
    <h2>Photo Details</h2>
    <h5><b>Title:</b> {{this.picName}}</h5>
    <h5><b>Author: <a href="/visit/{{this.creatorId.id}}"></b>{{this.creatorId.username}}</h5></a>
    <br>
    <h5>{{this.city}}, {{this.province}}, {{this.country}}</h5>
    <a href="/post/detail/like/{{this.id}}">Like</a>
    <p id="like"></p>
    </div>
</div>

    <div class="row justify-content-center">
        <div>
            <img class="img-fluid img-thumbnail detail-view" src="{{this.picPath}}" alt="">
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div>
            <figure id="map"></figure>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="/javascripts/script-detail.js"></script>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU&callback=initMap"></script>
        </div>
    </div>
</div>