<div class="container">

  <div class="row">

    <div class="col-md-6">
      <h1 style="font-weight: 100">Edit Post</h1>
      <hr>
    </div>
    <div class="row">
    </div>
    <div class="col-md-6">

      <form action="/post/profile/edit/{{this.id}}" method="POST">
        <div class="form-group">
          <label for="name-input2">Pic Name: </label>
          <input name="picName" type="text" class="form-control" id="name-input2" value='{{this.picName}}'>
        </div>
        <div class="form-group">
          <label for="field3">Location</label>
          <input id="lat" type="text" name="longitude" value='{{this.location.coordinates.[1]}}'>
          <input id="lng" type="text" name="latitude" value='{{this.location.coordinates.[0]}}'>
        </div>
        <div><input id="country" type="text" name="country" value='{{this.country}}'>
          <input id="province" type="text" name="province" value='{{this.province}}'>
          <input id="city" type="text" name="city" value='{{this.city}}'>
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Update Post</button>
        <a href="/main" class="btn btn-dark">Back</a>

      </form>
    </div>
  </div>

  <div class="row">
    <h1>Locations</h1>
    <hr>
    <figure id="map"></figure>
    <script src="/javascripts/script2.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU&callback=initMap"></script>
  </div>
</div>